In [1]:
# pip install numpy

In [2]:
# pip install pandas

In [3]:
# pip install seaborn

In [4]:
# pip install openpyxl

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns

In [ ]:
import pandas as pd
print(pd.__version__)

In [ ]:
kashti = sns.load_dataset('titanic') # pandas ka data frame hy
kashti

In [8]:
# how to write file
kashti.to_excel('../data_sets/kashti.xlsx')
kashti.to_csv('../data_sets/kashti.csv')

In [ ]:
# how to read the  file
import pandas as pd
df = pd.read_csv('../data_sets/kashti.csv')

df2 = pd.read_excel('../data_sets/kashti.xlsx')
df

In [ ]:
# pandas tips
df.info()

In [ ]:
# top or bottom rows
df.head()
df.tail()

In [12]:
# do practice 10 minutes with pandas

# Spiliting a string into multipule column

In [7]:
import pandas as pd

In [ ]:
df =  pd.DataFrame({'name':['osamn akhtar','adeel ahmed','shafiq ahmed','kamran ahmed'],
                    'location':['islamabad pakistan','rawalpindi pakistan','lahore pakistan','gojra pakistan']})
df

In [ ]:
df.name.str.split(' ',expand=True)

In [ ]:
df

In [ ]:
df[['First_name','last_name']] =  df.name.str.split(' ',expand=True)
df

In [8]:
import pandas as pd
import seaborn as sns

In [19]:
df = sns.load_dataset('titanic')

# 18- Select specific rows or column

In [ ]:
df

In [ ]:
df.head()

In [ ]:
# select columns
df[['sex','class','deck']]

In [ ]:
df.describe()

In [ ]:
# df.describe().loc[['25%','50%','75%','max']]
#or
df.describe().loc['min':'max']

In [ ]:
df.describe().loc['min':'max',:]

In [ ]:
df.describe().loc['min':'max',['survived','age']]

In [ ]:
df.describe().loc['min':'max','survived':'age']

# 18- Reshape multi index series

In [ ]:
df.head()

In [ ]:
df.survived.mean()

In [ ]:
df.groupby('sex').survived.mean()

In [ ]:
df.groupby(['sex','pclass']).survived.mean()

In [ ]:
df.groupby(['sex','class']).survived.mean()

In [ ]:
df.groupby(['sex','class']).survived.mean().unstack()

# 20- Continous to categorical data conversion

In [ ]:
df.head()

In [ ]:
df.age.head()

In [ ]:
# creating bins
df['new_age'] = pd.cut(df.age, bins=[0, 18, 25, 99],labels=['child','young_adult','adult']).head()
df.head()

# 21- Convert one set of values into another

In [ ]:
df.sex.head()

In [ ]:
df['sex_number'] = df.sex.map({'male': 0, 'female': 1})
df.head()

In [ ]:
df.embarked.head()

In [ ]:
df['embarked_number'] = df.embarked.factorize()[0]
df.head()

# 22-Transpose a wide dataframe

In [41]:
import numpy as np
import pandas as pd

In [ ]:
# create a dataframe
df = pd.DataFrame(np.random.rand(200,25),columns=list('abcdefghijklmnopqrstuvwxy'))
df.head()

In [ ]:
df.T

In [ ]:
df.describe().T

# 23-Reshaping a dataframe

In [ ]:
fasla = pd.DataFrame([['12345',100, 200, 300],['34567',400,500,600],['67890',700,800,900]],
                    columns=['zip','factory','wherehouse','retail'])
fasla

In [ ]:
fasla_2 = pd.DataFrame([[1,'12345','factory'],[2,'34567','wherehouse']],
                    columns=['user_id','zip','location_type'])
fasla_2

In [ ]:
fasla

In [48]:
fasla_long = fasla.melt(id_vars='zip',value_name='location_type',var_name='distance')

In [ ]:
fasla_long.columns

In [ ]:
fasla_long.head()

In [ ]:
import seaborn as sns
sns.barplot(x='zip',y ='distance', hue='location_type',data=fasla_long)

In [2]:
# pip install seaborn

In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [3]:
df = sns.load_dataset('titanic')

In [ ]:
df.head()

In [ ]:
df.describe()

In [ ]:
df.isnull().sum() / len(df) * 100

In [ ]:
len(df)

In [ ]:
sns.heatmap(df.isnull())

In [ ]:
sns.heatmap(df.isnull(),cbar=False)

# Assignment what is mean median mode?

# Assingment how to impute the missing values? Find our methods of imputing missing valuse?

In [ ]:
# unique values
df['sex'].unique()

In [ ]:
df['sex'] # pandas series

In [ ]:
df[['sex','age']]
df[['sex','age','fare']]

In [ ]:
df['sex'].nunique()
df.sex.nunique()

In [ ]:
df.nunique() # to find unique values in all columns"

In [ ]:
df.columns # to print the column names

In [ ]:
df.embark_town.unique()

In [ ]:
# value counts
df.embark_town.value_counts()

# Basic Summary

In [ ]:
df.describe()

In [ ]:
# Find mean fare of the both males and females using groupby function
import pandas as pd



# group by Sex and calculate mean fare
df.groupby('sex')['fare'].mean()

In [ ]:
df.groupby('class')['fare'].mean()

In [ ]:
# df.groupby('survived')['fare'].mean()
# gruopby two columns
df.groupby(['survived', 'sex','who'])['fare'].mean()

In [ ]:
df.groupby(['survived','who']).size()

In [ ]:
df.columns

In [24]:
# Correlation matrix
correlation_df = df[['fare','age','parch','sibsp']].corr()

In [ ]:
sns.heatmap(correlation_df, annot=True)

In [ ]:
sns.pairplot(df)

# Mazeed pandas ki tips

In [ ]:
df.head()

In [28]:
import matplotlib.pyplot as plt

# missing values and imputing them

In [ ]:
# find of the  percentage of missing values
df.isnull().sum() / len(df) * 100

In [30]:
# 1- drop the  column from dataset having more then 70% 
df.drop('deck', axis=1, inplace=True)

In [ ]:
df.columns

In [ ]:
df.isnull().sum()

In [ ]:
df['age'].mean()

In [ ]:
df['age'].median()

In [ ]:
df['age'].mode(1)

In [ ]:
# 2- filling missing values of the age column by the mean of age
df['age'].fillna(df['age'].mean(),inplace=True)

In [ ]:
df.isnull().sum()

In [ ]:
df['age'].mode()[0]

In [ ]:
df.isnull().sum()

In [ ]:
# fill embarked and embark_town  with mode
df['embarked'].fillna(df['embarked'].mode()[0],inplace=True)
df['embark_town'].fillna(df['embark_town'].mode()[0],inplace=True)

In [ ]:
df.isnull().sum()

In [ ]:
sns.heatmap(df.isnull())

# Assigment:if you not impute or handle missing values, what will  happen?

# Bining

In [ ]:
df.head()

In [ ]:
df.age.min()

In [ ]:
df.age.max()

In [ ]:
sns.histplot(df['age'])

In [ ]:
# binning of age column into 7 categories
bins = [0,1,5,12,18,30,50,80]
labels = ['Infants','Toddlers','Kids','Teens','Youngs','Middle Aged','Old']
# Kis column ko bin main convert karna hy
pd.cut(df['age'], bins = bins ,labels = labels)

In [ ]:
df.head()

# Feature Engineering

In [ ]:
# binning of age column into 7 categories
bins = [0,1,5,12,18,30,50,80]
labels = ['Infants','Toddlers','Kids','Teens','Youngs','Middle Aged','Old']
# Kis column ko bin main convert karna hy
df['binned_age'] = pd.cut(df['age'], bins = bins ,labels = labels)
df.head()

In [ ]:
df['binned_age'].value_counts()

# Renaming a column

In [ ]:
df.rename(columns={'binned_age': 'age_groups'}, inplace=True)
df

# Data filteration

In [ ]:
# Based on column
df.columns

In [ ]:
df_01 = df[['survived','age_groups','fare','class']]
df_01.head()

In [ ]:
df_01.info()

In [ ]:
df['class'].value_counts()

In [56]:
# filter the data based on rows croteria 
df_first = df_01[df_01['class'] == 'First']

In [ ]:
df_first['fare'].max()

In [ ]:
# lets select only those rows which have paid more 200 Pounds
df200 = df_01[df_01['fare'] > 200]
df200

In [ ]:
df200['class'].value_counts()

In [ ]:
# how to add two filter

df_01 = df_01[(df_01['fare'] > 70) & (df_01['class'] == 'First')]
df_01

In [ ]:
df_01 = df_01[(df_01['fare'] > 70) & (df_01['class'] == 'First')].sort_values(by ='fare')
df_01